<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">役職</th>
            <td class="table__col2"><%= @user.position.name %></td>
          </tr>
        </tbody>
      </table>
    <% if @user.position_id <= 7 %>
      <h2 class="page-heading">
        <%= "投稿"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'manuals/manual', collection: @manuals%>
      </div>
    <% end %>
    <h2 class="page-heading">
        <%= "お気に入り一覧"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'manuals/manual', collection: @favorite_manuals%>
      </div>
    </div>
  </div>
</div>